@import "../../../variables";

.organisation-switch {
  // width: 100%;
  position: relative;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s ease;

  .organisation-details {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .organisation-icon {
    position: relative;

    .icon {
      width: 16px;
    }
  }

  .organisation-title {
    font-weight: 400;
    font-size: 15px;
    color: $primary-text-color;
    transition: color 0.3s ease;
    font-family: "Work Sans", sans-serif;
  }
  @media screen and (max-width: 1500px) {
    padding: 10px 8px;
    justify-content: center;

    .organisation-details {
      display: none;
    }
  }
}
