@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: $primary-text-color;
  background-color: #f7f8f9;
  font-family: "Poppins", system-ui;
}

h1.heading {
  font-size: 26px;
  font-weight: 500;
  color: $primary-text-color;
  margin-bottom: 2rem;
  font-family: "Work Sans", sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }

  @media screen and (max-width: 640px) {
    font-size: 22px;
  }
}

div.heading {
  margin-bottom: 2rem;

  > h1 {
    font-size: 26px;
    font-weight: 500;
    color: $primary-text-color;
    font-family: "Work Sans", sans-serif;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }

    @media screen and (max-width: 640px) {
      font-size: 20px;
    }
  }
}

select {
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  appearance: none;
}
